@font-face {
  font-family: 'beauadmin';
  src:  url('../fonts/beauadmin.eot?8z7w88');
  src:  url('../fonts/beauadmin.eot?8z7w88#iefix') format('embedded-opentype'),
    url('../fonts/beauadmin.ttf?8z7w88') format('truetype'),
    url('../fonts/beauadmin.woff?8z7w88') format('woff'),
    url('../fonts/beauadmin.svg?8z7w88#beauadmin') format('svg');
  font-weight: normal;
  font-style: normal;
}
.dashicons-beau-admin {
    &:before {
        content: "\e900";
        font-family: 'beauadmin';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering. */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.about-wrap .about-description, .about-wrap .about-text {
    margin-top: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 19px;
}
.about-wrap .about-text {
    margin-bottom: 1.4em;
    min-height: auto;
    * {
        font-weight: 400;
        line-height: 1.6em;
        font-size: 19px;
    }
}
.beau-thanks {
    float: left;
    width: 100%;
    * {
        font-style:italic;
    }
}
.about-wrap.beau-wrap {
    .beau-logo {
        background: #fff url(../images/logobeau.png) no-repeat center;
        border: none;
        padding-top: 50px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        margin: 5px 0 0;
        display: inline-block;
        width: 80px;
        text-rendering: optimizeLegibility;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        &.no-avatar {
            padding: 0;
            height: 0
        }
    }
    .beau-version {
        background-color: #36BEF9;
        background: linear-gradient(to top right, #09F370, #36BEF9);
        margin-top: 30px;
        display: block;
        padding: 10px 0;

        color: #fff;
        text-align: center;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    }
    .nav-tab-wrapper {
        margin-bottom:30px;
    }
    .welcome-tour {
        iframe {
            max-width: 100%;
            width:100%;
        }
    }
    .welcome-tour-content {
        margin-top:30px;

        .aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .alignleft {
            float: left;
            margin: 0.5em 1em 0.5em 0;
        }

        .alignright {
            float: right;
            margin: 0.5em 0 0.5em 1em;
        }
    }
    .beau-plugins-list {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (min-width: 992px) {
            margin-left: -0.5%;
            margin-right: -0.5%;
        }
    }
    .plugin-card {
        width: 100%;
        margin:1% 0;
        @media only screen and (min-width: 992px) {
            width: 49%;
            margin: 1% 0.5%;
        }

    }
    .plugin-icon{
        border: none;
    }
    .plugin-card .desc, .plugin-card .name {
        margin-right:0;
    }
    .plugin-card-top {
        .plugin-required,.plugin-recommend{
            text-transform: uppercase;
            color: #fff;
            padding: 2px 5px;
            position: absolute;
            top: 30px;
            z-index:2;
            font-size:11px;
        }
        .column-name {
            h3 {
                margin-top:0;
            }
        }
        .plugin-required {
            background: rgba(213, 78, 33, .95);
        }
        .plugin-recommend {
            background: rgba(33, 213, 138, 0.97)

        }
    }
    .plugin-card-bottom {
        display: block;
        .plugin-action {
            display: inline-block;
        }
        .update-message.notice {
            display: inline-block !important;
            float: right;
            margin: 0;
            p {
                padding: 0;
                margin: 3px
            }
        }
        &.active {
            background: #23282d;
        }
    }
    .beau-important-notice {
        padding: 10px 20px;
        background: #fff;
        margin: 0px 0px 30px;
        .about-description p {
            font-size:17px;
        }
    }
    .beau-support {
        .col {
            h3 {
                font-size: 1em;
                margin: 1.4em 0 0.6em;
                font-weight: normal;
                > span {
                    margin-right:10px;
                }
            }
        }
    }
    .beau-systems {
        table {
            margin-bottom: 20px;
            th {
                font-weight: 700;
                padding: 9px;
            }
            td:first-child {
                width: 33%;
            }
            .help {
                width: 1em;
            }
        }
        mark.yes {
            color: #7ad03a;
            background: 0;
        }
        mark.error {
          color: #a00;
          background: 0;
        }
    }
    .beau-demo-themes {
        .theme {
            .theme-screenshot img {
                transition: opacity 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
            }
            &:hover {
                .theme-screenshot img {
                    opacity: 0.6;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .theme-browser .theme .theme-actions {
            opacity: 1;
        }
        .demo-import-loader {
            background: rgba(255, 255, 255, 0.7);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            text-align: center;
            display: none;
        }
        .theme-new {
            text-transform: uppercase;
            color: #fff;
            padding: 2px 5px;
            position: absolute;
            top: 30px;
            z-index:2;
            font-size:11px;
            background-color: #f309ec;
            background: linear-gradient(to top right, #f309ec, #f9ea36);
        }
    }
    ///Patcher
    .beau-patcher {
        .beau-important-notice {
            // margin-bottom:0;
            p {
                max-width: 100%;
            }
            .description {
               font-size: 1.1rem;
               font-style:normal;
            }
            .beau-patcher-error {
                max-width: 100%;
                background: #dc3232;
                color: #fff;
                font-size: 1.1em;
                font-style: normal;
                margin: 10px 0;
            }
        }

    }
    .beau-patcher-content {
        padding: 18px;
        margin: 0px 0px 30px;
        background-color:white;
    }
    .beau-patcher-table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        // margin-top: 2em;
        tbody tr {
            th,td {
                padding: 15px 10px 5px;
                line-height: 1.5;
                vertical-align: top;
                border-top: 1px solid #dedede;
                text-align: left;
            }
            &.beau-patcher-headings {
                th {
                    border-top: none;
                    &:first-child{
                        min-width:6rem;
                    }
                    &:nth-child(3){
                        text-align:center;
                    }
                }

            }
            td {
                &.patch-product {
                    min-width: 120px;
                }
                &.patch-id {
                    .date {
                        font-size:10px;color:#999;
                    }
                }
                &.patch-status {
                    text-align:center;
                    .dashicons-yes {
                        color:#4CAF50;
                    }
                }
                &.patch-apply .button {
                    float: right;
                    margin: 0;
                }
            }
        }
    }
    .registration-wrap {
        padding: 10px 20px;
        background: #fff;
        margin: 0px 0px 30px;
        form {
            &[data-type="deactive"] {
                display: inline-block;
                width: 85%;
                .buyer-registration,.purchase-registration {
                    width:49%;
                    input {
                        pointer-events: none;
                    }
                }
            }
            &.deactive-form {
                display: inline-block;
                width: 10%;
                p.submit {
                    margin:0;
                    padding:0;
                    display:inline-block;
                    > * {
                        padding: 0 30px;
                        line-height: 30px;
                        font-size: 12px;
                        height: 30px;
                        vertical-align:inherit;
                    }
                    .button.update{
                        color: green;
                    }
                    .button.deactive{
                        color: red;
                    }
                }
            }
            > div {
                display:inline-block;
                width:100%;
                transition: width 2s;
                @media only screen and (min-width: 992px) {
                    width: 40%;
                }
                padding:20px 0;
                input[type="text"]{
                    width: calc(100% - 60px);
                    height:30px;
                }
                span {
                    max-width: 100%;
                    margin-right: 5px;
                    font-size: 25px;
                    width: 30px;
                    line-height: 30px;
                }
            }
            .submit-registration {
                width:100%;
                @media only screen and (min-width: 992px) {
                    width: 19%;
                    text-align:center;
                }
                p.submit {
                    margin:0;
                    padding:0;
                    display:inline-block;
                    > * {
                        padding: 0 30px;
                        line-height: 30px;
                        font-size: 12px;
                        height: 30px;
                        vertical-align:inherit;
                    }
                    .button.update{
                        color: green;
                    }
                    .button.deactive{
                        color: red;
                    }
                }
            }
        }
    }
}
/* Toggle */

.beau-admin-toggle {
    margin-bottom: 20px;
    .beau-admin-toggle-heading {
        align-items: center;
        background-color: #fafafa;
        border: 1px solid #dfdfdf;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;
        h3 {
            margin: 0;
        }
    }
    .beau-admin-toggle-content {
        -moz-border-bottom-colors: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          background: #ffffff none repeat scroll 0 0;
          border-color: -moz-use-text-color #dfdfdf #dfdfdf;
          border-image: none;
          border: 1px solid #dfdfdf;
          border-style: none solid solid;
          border-width: medium 1px 1px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
          display: none;
          padding: 25px;
        li {
            margin-bottom: 15px;
        }
    }
}
#js-ocdi-modal-content {
    .ocdi__modal-item-title,.ocdi__modal-image-container {
        display:none;
    }
    .ocdi__modal-notice.ocdi__demo-import-notice {
        border: none;
        box-shadow: none;
        padding: 1%;
        margin: 0;
    }
    .ui-dialog-buttonpane  {
        padding: 5px;
    }
}
